html,
body {
  background-color: #ffffff;
}

hr {
  background-color: #7e7e7e;
}

.site-footer {
  color: white;
  background-color: #111111;
  p {
    margin-bottom: 0;
  }
}

.circle-icon {
  color: #111111;
  font-size: 20px;
  background-color: #7e7e7e;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  padding: 6px;
  margin: 0 5px;
}

.navDropdown {
  background-color: #e5e5e5;
}

@media only screen and (max-width: 959px) {
  .logo {
    padding-left: 1.5rem;
  }
  .navDropdown {
    display: none;
  }
}
