html,
body {
  background-color: #ffffff;
}

hr {
  background-color: #7e7e7e;
}

p {
  font-size: 15px;
}

.site-footer {
  color: white;
  background-color: #111111;
  p {
    margin-bottom: 0;
    font-size: 12px;
  }
}

.sub-headers {
  font-weight: normal;
  text-transform: none;
  color: #7e7e7e;
}

.sub-headers:hover {
  color: #ffffff;
}

.bottom-headers {
  font-size: 10px;
  font-weight: normal;
  text-transform: none;
  color: #7e7e7e;
}

.circle-icon {
  color: #111111;
  font-size: 20px;
  background-color: #7e7e7e;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  padding: 6px;
  margin: 0 5px;
}

.circle-icon:hover {
  color: #111111;
  font-size: 20px;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  padding: 6px;
  margin: 0 5px;
}

.navDropdown {
  background-color: #e5e5e5;
}

// #navMen {
//   display: block;
// }

// #navMen:hover + .navDropdown {
//   display: block;
// }

// @media only screen and (max-width: 959px) {
//   .logo {
//     padding-left: 1.5rem;
//   }
//   .navDropdown {
//     display: none;
//   }
// }
